*{
    /* background-color: blueviolet; */
    padding: 0;
    margin: 0;
}
body{
    background-color: brown;
    color: white;
    text-align: center;
}
.main{
    background-color: violet;
    padding: 20px;
    margin: 10px;
   
}
.navi{
    background-color:orangered ;
    padding: 20px;
    position: sticky;
    margin: 1%;
    top: 0px;

}

.content1{
    margin: 1%;
    background-color: green;
    width: 60%;
    display: inline-block;
    margin-bottom: 1%;
    height: 370px;
    
}
.d1{
    background-color: blue;
    padding: 5%;
    margin: 2%;
    margin-top: 10%;
}
.d2{
    background-color: blue;
    padding: 5%;
    margin: 2%;
    margin-top: 4%;
}
.content2{
    vertical-align: top;
    background-color: darkblue;
    display: inline-block;
    width: 36.7%;
    height: 370px;
    margin-top: 1%;
    margin-left: 1%;
    margin: 1% 1% 1% 0%;
}
.foot{
    
    background-color: orange;
    padding: 5%;
    margin: 1%;
    padding-bottom: 2%;
}

.start .bar{
    line-height: 18;
}
